{% extends 'template.html' %}

{% block content %}
<body>
    <form action="/{{url}}" method="post">
        <div>
            <p>Email : <input type="email" name="name" id="name"></p>
            {% if url == 'add'%}
            <p>Ubuntu : <input type="radio" name="os" value="ubuntu" id="ubuntu"></p>
            <p>Fedora : <input type="radio" name="os" value="fedora" id="fedora"></p>
            {% endif %}
            <p><input type="submit" value="submit"></p>
        </div>
        <h2>{{return_data}}</h2>
    </form>
{% endblock %}
