<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hosting Program</title>
</head>
<body>

    {% block content %}{% endblock %}
    
    <div>
        <li><a href="/index">Main Pages</a></li>
        <li><a href="/add">New Container Add</a></li>
        <li><a href="/start">Container Start</a></li>
        <li><a href="/stop">Container Stop</a></li>
        <li><a href="/restart">Container Restart</a></li>
        <li><a href="/remove">Container Remove</a></li>
        <li><a href="/info">Container Info</a></li>
    </div>
</body>
</html>